html,
body {
    letter-spacing: 2px;
    background-color: black;
}

a:link,
a:visited {
    color: #242424;
    text-decoration: none;
}

a:hover,
a:active {
    color: #696969;
    text-decoration: none;
}

h2 {
    color: #242424;
}

.row-title,
.row-video {
    margin-top: 2%;
    margin-bottom: 2%;
}